@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,800;1,500&family=Poppins:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}