#about{
    position: relative;
    background: #020912;
    padding: 20px 100px 100px;
}
video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
}

#info{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.about-text{
    border: 2px solid white;
    margin: 0;
    padding: 10px;
    width: 50%;
    height: fit-content;
}

.quote{
  margin-bottom: 50px;
}

q{
    display: block;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    padding-left: 20px;
}

#about h2{
    font-size: 3rem;
    color: #fff;
    margin-bottom: 2px;
    padding-left: 20px;
}

#about p{
    padding: 20px;
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    font-weight: 300;
    text-align: justify;
}

.keywords{
    font-size: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #cdb56c;
    font-weight: 300;
}

.about-me-image {
    width: 50%;
    text-align: center;
  }
  
  .about-me-image img {
    background: linear-gradient(45deg, #f3ca57, #9c613f);
    width: 70%;
    height: 70%;
    border-radius: 50%;
    object-fit: contain;
    animation: floating 3s ease-in-out infinite;
  }
  
  .techStack {
    text-align: center;
  }
  
  #about > section > h2 {
    margin-bottom: 30px;
  }
  
  .techList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .techList li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2rem;
  }
  
  .techList li:last-child {
    margin-right: 0;
  }
  
  .techList i {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: antiquewhite;
  }
  
  .techList span {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: antiquewhite;
  }
  

  @keyframes floating {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @media (max-width: 800px) {
    .info {
      flex-direction: column;
    }
    #about{
      padding: 20px;
      padding-top: 100px;
    }
    
    .about-me-image , .about-text{
      width: auto;
    }

    #about h2{
      font-size: 2rem;
      color: #fff;
      margin-bottom: 2px;
      padding-left: 20px;
      margin-top: 50px;
  }

  .techList li{
    margin: 0;
    width: 50%;
  }

  }