.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("../../../public/assets/images/background.png") no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

#greet{
    position: absolute;
    text-align: center;
    font-size: 5em;
    color: #1b283a;
    text-shadow: 2px 4px 5px #f9f9f9;
}

.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: -webkit-fill-available;
    pointer-events: none;
}

#gate-left{
    transform: translateX(-40vw);
}
#gate-right{
    transform: translateX(40vw);
}

@media (max-width: 768px) {
    .parallax{
      display: none;
    }
  }