#contact{
  background-color: #081720;
}
.contact-heading {
    text-align: center;
    font-size: 4em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    font-weight: 700;
    margin-bottom: 30px;
    color: white;
  }
form {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 20px;
    color: #fff;
  }
  
  
  .form-group {
    width: 100%;
    margin-bottom: 15px;
  }
  
  label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.2s ease;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    outline: none;
    border-color: #007bff;
  }
  
  textarea {
    resize: vertical;
  }
  
  .btn {
    background-color: #081720;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease;
  }
  
  .btn:hover {
    background-color: #4e5153 ;
  }


  .footer {
    color: #fff;
    padding: 20px;
  }
  
.social-heading{
  text-align: center;
  margin-bottom: 5px;
}

  .social-links {
    display: flex;
    justify-content: center;
  }
  
  .social-links a {
    color: #fff;
    font-size: 1.5rem;
    margin: 0 10px;
  }
  
  .social-links a:hover {
    color: #0077b5;
  }

  #contact > footer > p{
    text-align: center;
    margin: auto;
    margin-top: 30px;
  }
  
  @media (max-width: 880px) {
    .contact-heading{
      font-size: 3em;
    }
  }